# Ignore both frontend and server node_modules
client/node_modules/
server/node_modules/

# Ignore environment files
client/.env
server/.env

# Ignore build files
client/build/
server/dist/

# Logs and junk
*.log
.DS_Store
Thumbs.db

# IDEs
.vscode/
